#header{
    width: 100%;
    height: 80px;
    background: rgb(207, 214, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    #login{
        width: 232px;
        height: 70%;
        background: url('btn_google_signin_dark_normal_web@2x.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        cursor: pointer;
        outline: none;
    }
    #logout{
        width: 232px;
        height: 70%;
        font-size: 1.2em;
        cursor: pointer;
        outline: none;
    }
}